.page-template .entry-content h4 {
    font-size: 24px;
}

.page-template .entry-content blockquote p {
    font-size: 16px;
}

.page-template form {
    margin-top: 20px;
}

.page-template form p {
    color: #50b8e5;
    font-weight: 500;
}